html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

@font-face {
  font-family: 'Brown';
  src: url("Brown-BoldAlt.eot");
  src: local("Brown-BoldAlt"), url("Brown-BoldAlt.eot?#iefix") format("embedded-opentype"), url("Brown-BoldAlt.woff") format("woff"), url("Brown-BoldAlt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("MyriadPro-Cond.eot");
  src: local("Myriad Pro Condensed"), local("MyriadPro-Cond"), url("MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Cond.woff") format("woff"), url("MyriadPro-Cond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.btn-toggle-menu {
  display: none; }

/* .burger-menu { 
  .btn-burger-menu {
    position: fixed;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    z-index: 30;
      &:hover {
      filter: brightness(0.7);
    }
  }
  .burger-menu-line,
  .burger-menu-line::after,
  .burger-menu-line::before {
    position: absolute;
    width: 40px;
    height: 6px;
    background: $color-title;
  }
  .burger-menu-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu-line::after{
    content: '';
    top: -12px;
  }
  .burger-menu-line::before{
    content: '';
    top: 12px;
  }
}
.burger-menu-active {
  .burger-menu-line {
    background-color:transparent;
    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
} */
.wrapper {
  max-width: 1235px;
  margin: 0 auto; }

a {
  text-decoration: none; }

.main {
  background: url(../img/header-bg.png) no-repeat top center; }
  .main .header {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main .header ul {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: 'Brown', sans-serif; }
      .main .header ul li {
        font-size: 19px;
        font-weight: bold;
        margin-left: 50px; }
      .main .header ul a {
        text-decoration: none;
        color: #32325d; }
      .main .header ul .btn-sign-in {
        color: #fff;
        background-color: #845cff;
        -webkit-box-shadow: 0 0 5px #e1dafc;
        box-shadow: 0 0 5px #e1dafc;
        border-radius: 3px;
        font-family: 'Brown', sans-serif;
        font-weight: bold;
        padding: 7px 20px; }
  .main .main-info h1 {
    font-family: 'Brown', sans-serif;
    color: #32325d;
    font-size: 48px;
    margin-top: 290px; }
  .main .main-info p {
    font-family: 'Myriad', sans-serif;
    color: #525f7f;
    font-weight: 500;
    font-size: 23px;
    margin-top: 60px; }
  .main .main-info .get-talk {
    margin-top: 80px; }
    .main .main-info .get-talk .btn-get-started {
      color: #fff;
      background-color: #845cff;
      -webkit-box-shadow: 0 0 5px #e1dafc;
      box-shadow: 0 0 5px #e1dafc;
      border-radius: 3px;
      font-family: 'Brown', sans-serif;
      font-weight: bold;
      padding: 15px 25px; }
    .main .main-info .get-talk .talk {
      color: #32325d;
      margin-left: 35px;
      font-family: 'Brown', sans-serif;
      font-size: 19px; }
  .main .main-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 140px; }
    .main .main-items .improve-item {
      display: inline-block;
      margin-top: 300px; }
      .main .main-items .improve-item h2 {
        font-family: 'Brown', sans-serif;
        color: #32325d;
        font-size: 48px; }
      .main .main-items .improve-item p {
        font-family: 'Brown', sans-serif;
        color: #525f7f;
        font-weight: 500;
        font-size: 23px;
        margin-top: 30px; }
    .main .main-items .item {
      display: inline-block;
      margin-top: 80px;
      padding: 50px;
      background: #fff;
      border-radius: 5px;
      -webkit-box-shadow: -5px 2px 6px 0px #f9f9fe;
      box-shadow: -5px 2px 6px 0px #f9f9fe;
      /* rgb(150, 150, 150) */ }
      .main .main-items .item h3 {
        font-family: 'Brown', sans-serif;
        color: #32325d;
        font-size: 30px;
        margin-top: 55px; }
      .main .main-items .item p {
        font-family: 'Brown', sans-serif;
        color: #525f7f;
        font-size: 18px;
        margin-top: 30px; }

/**/
.proof-makes {
  margin-top: 200px;
  background: url(../img/proof-makes-section/dg-section-.png) no-repeat bottom center;
  font-family: 'Brown', sans-serif;
  font-weight: normal;
  text-align: center; }
  .proof-makes .proof-makes-txt h2 {
    font-size: 48px;
    color: #32325d; }
  .proof-makes .proof-makes-txt p {
    font-size: 20px;
    color: #525f7f;
    letter-spacing: .5px;
    margin-top: 35px; }
  .proof-makes .proof-makes-simple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end; }
    .proof-makes .proof-makes-simple .simple {
      display: inline-block;
      width: 300px;
      height: 250px;
      text-align: center;
      margin-top: 175px; }
      .proof-makes .proof-makes-simple .simple h3 {
        font-size: 20px;
        color: #32325d;
        margin-top: 40px; }
      .proof-makes .proof-makes-simple .simple p {
        font-size: 15px;
        color: #525f7f;
        margin-top: 15px; }

/**/
.drives {
  margin-top: 190px;
  font-family: 'Brown', sans-serif;
  font-weight: normal; }
  .drives .main-drives {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .drives .main-drives .drives-txt h2 {
      font-size: 48px;
      color: #32325d; }
    .drives .main-drives .drives-txt p {
      margin-top: 45px;
      font-size: 23px;
      color: #525f7f; }
    .drives .main-drives .drives-txt .dv {
      margin-top: 55px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .drives .main-drives .drives-txt .dv h3 {
        font-size: 30px;
        color: #32325d;
        font-weight: 300; }
      .drives .main-drives .drives-txt .dv p {
        margin-top: 0;
        color: #525f7f;
        font-size: 14px; }
    .drives .main-drives .drives-txt .get-talk {
      margin-top: 55px; }
      .drives .main-drives .drives-txt .get-talk .btn-get-started {
        text-transform: uppercase;
        color: #fff;
        background-color: #845cff;
        -webkit-box-shadow: 0 0 5px #e1dafc;
        box-shadow: 0 0 5px #e1dafc;
        border-radius: 3px;
        font-family: 'Brown', sans-serif;
        font-weight: bold;
        padding: 10px 25px; }
      .drives .main-drives .drives-txt .get-talk .talk {
        color: #32325d;
        margin-left: 35px;
        font-family: 'Brown', sans-serif;
        font-size: 19px; }

/**/
.chapter-drive {
  margin-top: 190px;
  font-family: 'Brown', sans-serif;
  font-weight: normal; }
  .chapter-drive .second-drives {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .chapter-drive .second-drives .second-drives-txt h2 {
      font-size: 48px;
      color: #32325d; }
    .chapter-drive .second-drives .second-drives-txt p {
      margin-top: 45px;
      font-size: 23px;
      color: #525f7f; }
    .chapter-drive .second-drives .second-drives-txt .dv {
      margin-top: 55px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .chapter-drive .second-drives .second-drives-txt .dv h3 {
        font-size: 30px;
        color: #32325d;
        font-weight: 300; }
      .chapter-drive .second-drives .second-drives-txt .dv p {
        margin-top: 0;
        color: #525f7f;
        font-size: 14px; }
    .chapter-drive .second-drives .second-drives-txt .get-talk {
      margin-top: 55px; }
      .chapter-drive .second-drives .second-drives-txt .get-talk .btn-get-started {
        text-transform: uppercase;
        color: #fff;
        background-color: #845cff;
        -webkit-box-shadow: 0 0 5px #e1dafc;
        box-shadow: 0 0 5px #e1dafc;
        border-radius: 3px;
        font-family: 'Brown', sans-serif;
        font-weight: bold;
        padding: 10px 25px; }
      .chapter-drive .second-drives .second-drives-txt .get-talk .talk {
        color: #32325d;
        margin-left: 35px;
        font-family: 'Brown', sans-serif;
        font-size: 19px; }

/**/
.auto-pilot {
  background: url(../img/laptop-hero.png) no-repeat right top;
  margin-top: 230px;
  font-family: 'Brow', sans-serif; }
  .auto-pilot .finances {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .auto-pilot .finances .finances-txt h3 {
      font-size: 48px;
      color: #32325d; }
    .auto-pilot .finances .finances-txt p {
      margin-top: 38px;
      font-size: 23px;
      color: #525f7f; }
    .auto-pilot .finances .simple-list {
      margin-top: 120px; }
      .auto-pilot .finances .simple-list h4 {
        font-size: 30px;
        color: #32325d;
        font-weight: 600; }
      .auto-pilot .finances .simple-list ul li {
        list-style-type: none;
        font-size: 20px;
        font-weight: 600;
        color: #525f7f;
        margin-top: 40px; }
        .auto-pilot .finances .simple-list ul li::before {
          content: url(../img/shape.png);
          margin-right: 10px; }
    .auto-pilot .finances .sl-full-line {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      margin-top: 170px; }

@media (max-width: 1181px) {
  .header {
    justify-content: space-around; }
  .main-info {
    text-align: center; }
  .main-items {
    text-align: center; }
    .main-items .improve-item {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; }
    .main-items .item {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; } }

@media (max-width: 910px) {
  .header .btn-toggle-menu {
    display: block;
    width: 50px;
    height: 50px;
    color: #32325d;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer; }
  .header .btn-toggle-menu.active {
    opacity: .3;
    /*      &::after {
        content: ('\2716');
      } */ }
  .header .dropdown-menu {
    display: none;
    /* position: absolute; */
    left: 85%;
    top: 25%; }
  .header .dropdown-menu.show {
    display: block; }
  .header .logo {
    margin-left: 25px; }
  .header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header ul a {
      font-size: 10px;
      cursor: pointer; } }

@media (max-width: 768px) {
  .header .dropdown-menu {
    display: none;
    /* position: absolute; */
    left: 75%;
    top: 25%; } }

@media (max-width: 600px) {
  main .main-info {
    height: 100vh; }
    main .main-info h1 {
      font-size: 40px; }
    main .main-info p {
      font-size: 20px; }
    main .main-info .get-talk {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      main .main-info .get-talk .line-talk {
        margin-top: 75px; }
  main .header .dropdown-menu {
    display: none;
    /* position: absolute; */
    left: 70%;
    top: 25%; } }

@media (max-width: 600px) {
  .proof-makes .proof-makes-simple {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .proof-makes .proof-makes-simple .simple {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; } }

@media (max-width: 1200px) {
  .drives {
    background: url(../img/drive.png) no-repeat center center/cover;
    height: 100vh; }
    .drives .main-drives {
      height: 100vh;
      background: #fff;
      opacity: .9;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .drives .main-drives .drives-txt {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        text-align: center; }
        .drives .main-drives .drives-txt .dv {
          -ms-flex-pack: distribute;
          justify-content: space-around; }
    .drives img {
      display: none; } }

@media (max-width: 480px) {
  .drives .main-drives .drives-txt .get-talk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .drives .main-drives .drives-txt .get-talk .btn-get-started {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; }
    .drives .main-drives .drives-txt .get-talk .line-talk {
      margin-top: 30px;
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      font-size: 8px; } }

@media (max-width: 1200px) {
  .chapter-drive {
    background: url(../img/hero-car.png) no-repeat center center/cover;
    height: 100vh; }
    .chapter-drive .second-drives {
      height: 100vh;
      background: #fff;
      opacity: .9;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .chapter-drive .second-drives .second-drives-txt {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        text-align: center; }
        .chapter-drive .second-drives .second-drives-txt .dv {
          -ms-flex-pack: distribute;
          justify-content: space-around; }
    .chapter-drive img {
      display: none; } }

@media (max-width: 480px) {
  .chapter-drive .second-drives .second-drives-txt .get-talk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .chapter-drive .second-drives .second-drives-txt .get-talk .btn-get-started {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; }
    .chapter-drive .second-drives .second-drives-txt .get-talk .line-talk {
      margin-top: 30px;
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      font-size: 8px; } }

@media (max-width: 1080px) {
  .auto-pilot {
    background: #F8F6FB; }
    .auto-pilot .finances {
      text-align: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-item-align: center;
      align-self: center; }
      .auto-pilot .finances .simple-list {
        display: inline-block;
        width: 400px;
        margin: 50px; }
        .auto-pilot .finances .simple-list p {
          text-align: justify;
          margin: 0; } }

/*# sourceMappingURL=main.css.map */
