//main
@media (max-width: 1181px) {
  .header {
    justify-content: space-around;
  }
  .main-info {
    text-align: center;
  }
  .main-items {
    text-align: center; 
    .improve-item {
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
    }
    .item {
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
    }
  }
}
@media (max-width: 910px) {
  .header {
    .btn-toggle-menu {
      display: block;
      width: 50px;
      height: 50px;
      color: $color-title;
      border-radius: 50%;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      cursor: pointer;
    }
    .btn-toggle-menu.active {
      opacity: .3;
 /*      &::after {
        content: ('\2716');
      } */
    }
    .dropdown-menu {
      display: none;
      /* position: absolute; */
      left: 85%;
      top: 25%;
    }
    .dropdown-menu.show {
      display: block;
    }
    .logo {
      margin-left: 25px;
    }
    ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      
      a {
        font-size: 10px;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    .dropdown-menu {
      display: none;
      /* position: absolute; */
      left: 75%;
      top: 25%;
    }
  }
}
@media (max-width: 600px) {
  main{
    .main-info {
      height: 100vh;
      h1{
        font-size: 40px;
      }
      p{
        font-size: 20px;
      }
      .get-talk{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        .line-talk{
          margin-top: 75px;
        }
      }
    }
    .header {
      .dropdown-menu {
        display: none;
        /* position: absolute; */
        left: 70%;
        top: 25%;
      }
    }
  } 
}

//proof-makes
@media (max-width: 600px) {
  .proof-makes {
    .proof-makes-simple {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      .simple {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
      }
    }
  }
}

//drives
@media (max-width: 1200px) {
  .drives {
    background: url(../img/drive.png) no-repeat center center / cover;
    height: 100vh;
    .main-drives {
      height: 100vh;
      background: #fff ;
      opacity: .9;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .drives-txt {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        text-align: center;
        .dv {
          -ms-flex-pack: distribute;
              justify-content: space-around;
        }
      }
    }
    img { display: none;}
  }
}
@media (max-width: 480px) {
  .drives {
    .main-drives {
      .drives-txt {
        .get-talk {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          .btn-get-started {
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
          }
          .line-talk {
            margin-top: 30px;
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
            font-size: 8px;
          }
        }
      }
    }
  }
}

//second-drives
@media (max-width: 1200px) {
  .chapter-drive {
    background: url(../img/hero-car.png) no-repeat center center / cover;
    height: 100vh;
    .second-drives {
      height: 100vh;
      background: #fff ;
      opacity: .9;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .second-drives-txt {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        text-align: center;
        .dv {
          -ms-flex-pack: distribute;
              justify-content: space-around;
        }
      }
    }
    img { display: none;}
  }
}
@media (max-width: 480px) {
  .chapter-drive {
    .second-drives {
      .second-drives-txt {
        .get-talk {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          .btn-get-started {
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
          }
          .line-talk {
            margin-top: 30px;
            -webkit-box-flex: 100%;
                -ms-flex: 100%;
                    flex: 100%;
            font-size: 8px;
          }
        }
      }
    }
  }
}

//auto-pilot
@media (max-width: 1080px) {
  .auto-pilot {
    background: #F8F6FB;
    .finances {
      text-align: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: center;
          align-self: center;
      .simple-list {
        display: inline-block;
        width: 400px;
        margin: 50px;
        p {
          text-align: justify;
          margin: 0;
        }
      }
    }
  }  
}



