@import '_reset';
@import '_font';
@import '_variables';
@import '_mixin';
@import '_burger';

.wrapper {
  max-width: 1235px;
  margin: 0 auto;
}
a{
  @include a-specific;
}

.main {
  background: url(../img/header-bg.png) no-repeat top center;
  .header {
      padding-top: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

    ul {
      @include ul-specific;
      font-family: 'Brown', sans-serif;
        li { 
          font-size: 19px;
          font-weight: bold;
          margin-left: 50px;
        }
        a {   
          @include a-specific;       
          color: $color-title;
        }
        .btn-sign-in {
          @include btn-specific;
          padding: 7px 20px;
      }
    }
  }
  .main-info {
    h1 {
      font-family: 'Brown', sans-serif;
      color: $color-title;
      font-size: 48px;
      margin-top: 290px;
    }
    p {
      font-family: 'Myriad', sans-serif;
      color: $main-p-color;
      font-weight: 500;
      font-size: 23px;
      margin-top: 60px;
    }
    .get-talk {
      margin-top: 80px;
      .btn-get-started {
        @include btn-specific;
        padding: 15px 25px;
      }
      .talk {
        color: $color-title;
        margin-left: 35px;
        font-family: 'Brown', sans-serif;
        font-size: 19px;
      }
    }
  }
  .main-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 140px;
    .improve-item{
      display: inline-block;
      margin-top: 300px;
      h2 {
        font-family: 'Brown', sans-serif;
        color: $color-title;
        font-size: 48px;
      }
      p {
        font-family: 'Brown', sans-serif;
        color: $main-p-color;
        font-weight: 500;
        font-size: 23px;
        margin-top: 30px;
      }
    }
    .item {
      display: inline-block;
      margin-top: 80px;
      padding: 50px;
      background: #fff;
      border-radius: 5px;
      -webkit-box-shadow: -5px 2px 6px 0px #f9f9fe;
              box-shadow: -5px 2px 6px 0px #f9f9fe;/* rgb(150, 150, 150) */    
      h3 {
        font-family: 'Brown', sans-serif;
        color: $color-title;
        font-size: 30px;
        margin-top: 55px;
      }
      p {
        font-family: 'Brown', sans-serif;
        color: $main-p-color;
        font-size: 18px;
        margin-top: 30px;
      }
    }
  }
}
/**/
.proof-makes {
  margin-top: 200px;
  background: url(../img/proof-makes-section/dg-section-.png) no-repeat bottom center;
  font-family: 'Brown', sans-serif;
  font-weight: normal;
  text-align: center;
  .proof-makes-txt {
    h2 {
      font-size: 48px;
      color: $color-title;
    }
    p {
      font-size: 20px;
      color: $main-p-color;
      letter-spacing: .5px;
      margin-top: 35px;
    }
  }
  .proof-makes-simple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
            align-items:flex-end;
    .simple {
      display: inline-block;
      width: 300px;
      height: 250px;
      text-align: center;
      margin-top: 175px;
      h3 {
        font-size: 20px;
        color: $color-title;
        margin-top: 40px;
      }
      p {
        font-size: 15px;
        color: $main-p-color;
        margin-top: 15px;
      }
    }
  }
}
/**/
.drives {
  margin-top: 190px;
  font-family:'Brown', sans-serif;
  font-weight: normal;
  .main-drives {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .drives-txt {
      h2 {
        font-size: 48px;
        color: $color-title;
      }
      p {
        margin-top: 45px;
        font-size: 23px;
        color: $main-p-color;
      }
      .dv {
        margin-top: 55px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        h3 {
          font-size: 30px;
          color: $color-title;
          font-weight: 300;
        }
        p {
          margin-top: 0;
          color: $main-p-color;
          font-size: 14px;
        }
      }
      .get-talk {
        margin-top: 55px;        
        .btn-get-started {
          text-transform: uppercase;
          @include btn-specific;
          padding: 10px 25px;
        }
        .talk {
          color: $color-title;
          margin-left: 35px;
          font-family: 'Brown', sans-serif;
          font-size: 19px;
        }
      }
    }
  } 
}
/**/
.chapter-drive {
  margin-top: 190px;
  font-family:'Brown', sans-serif;
  font-weight: normal;
  .second-drives {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .second-drives-txt {
      h2 {
        font-size: 48px;
        color: $color-title;
      }
      p {
        margin-top: 45px;
        font-size: 23px;
        color: $main-p-color;
      }
      .dv {
        margin-top: 55px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        h3 {
          font-size: 30px;
          color: $color-title;
          font-weight: 300;
        }
        p {
          margin-top: 0;
          color: $main-p-color;
          font-size: 14px;
        }
      }
      .get-talk {
        margin-top: 55px;        
        .btn-get-started {
          text-transform: uppercase;
          @include btn-specific;
          padding: 10px 25px;
        }
        .talk {
          color: $color-title;
          margin-left: 35px;
          font-family: 'Brown', sans-serif;
          font-size: 19px;
        }
      }
    }
  }
}
/**/
.auto-pilot {
  background: url(../img/laptop-hero.png) no-repeat right top;
  margin-top: 230px;
  font-family:'Brow', sans-serif;
  .finances {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .finances-txt {
      h3 {
        font-size: 48px;
        color: $color-title;
      }
      p {
        margin-top: 38px;
        font-size: 23px;
        color: $main-p-color;
      }
    }
    .simple-list {
      margin-top: 120px;
      h4 {
        font-size: 30px;
        color: $color-title;
        font-weight: 600;
      }
      ul {
        li {
          list-style-type: none;
          font-size: 20px;
          font-weight: 600;
          color: $main-p-color;
          margin-top: 40px;
          &::before {
            content: url(../img/shape.png);
            margin-right: 10px;
          }
        }
      }
    }
    .sl-full-line {
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
      margin-top: 170px;
    }
  }
}

@import '_adapted';